@use "mixins" as x;
@use "variables" as v;

.categoryContainer___selectSection {
  @include x.flex(row);
  padding: 15px;
  color: v.$color;
  gap: 30px;
  height: 50px;

  label {
    font-size: 1.1rem;
    font-weight: bold;
  }

  select {
    font-size: 1.5rem;
    height: 100%;
  }

  button {
    @include x.button();
    height: 21px;
  }
}

#categoryBody {
  #mainContainer {
    @include x.flex(column);
    .blogContainer {
      width: 90%;
      background-color: v.$color;
      border-radius: 5px;
      padding: 10px;
      line-height: 25px;
      line-break: normal;
      color: black;

      :nth-child(4) {
        font-style: italic;
      }

      :nth-child(5) {
        text-align: right;
        opacity: 50%;
      }

      h2 {
        font-size: 2rem;
        padding-bottom: 5px;
      }
    }
    &__blog-container {
      width: 90%;
      &__heading-container {
        &__title {
          color: black;
          font-size: 2rem;
        }
        &__category {
          font-weight: bold;
        }
      }
      &__author {
        font-style: italic;
      }

      &heading-container__date {
        text-align: right;
        opacity: 50%;
      }
    }
    .blogContainer {
      :nth-child(3),
      :nth-child(4) {
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
