// @use "categories";
@use "mixins" as x;
@use "variables" as v;
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

body {
  background-color: v.$secondary-color;
  overflow-x: hidden;
}

main {
  padding: 15px;
}

ul {
  @include x.flex(row);
  justify-content: space-around;
  list-style: none;
  background-color: v.$primary-color;
  height: 60px;

  li {
    a {
      color: v.$color;
      text-decoration: none;
    }
  }
}

#mainContainer,
.main-container {
  justify-content: center;
  @include x.grid(80%, 90%);
  gap: 10px;
  padding: 10px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  &__button {
    width: 50px;
    i {
      font-size: 2rem;
      color: v.$color;
    }
  }

  .blogContainer,
  &__blog-container {
    background-color: v.$color;
    border-radius: 5px;
    padding: 10px;
    line-height: 25px;
    line-break: normal;

    :nth-child(4) {
      font-style: italic;
    }

    :nth-child(5) {
      text-align: right;
      opacity: 50%;
    }

    h2 {
      font-size: 2rem;
      padding-bottom: 5px;
    }
  }
  &__blog-container {
    grid-column-start: 1;
    grid-column-end: 3;
    &__heading-container {
      &__title {
        font-size: 2rem;
      }
      &__category {
        font-weight: bold;
      }
    }
    &__author {
      font-style: italic;
    }

    &heading-container__date {
      text-align: right;
      opacity: 50%;
    }
  }
  .blogContainer {
    :nth-child(3),
    :nth-child(4) {
      width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

#createBlog {
  main {
    @include x.flex(column);
  }
  #mainContainer {
    @include x.flex(column);
    max-width: 650px;
    gap: 20px;
    margin-top: 30px;
    input {
      @include x.input();
    }
    textarea {
      @include x.textarea();
    }
    select {
      width: 100%;

      max-width: 300px;
    }
    button {
      @include x.button();
    }
  }
}
.categoryContainer___selectSection {
  @include x.flex(row);
  padding: 15px;
  color: v.$color;
  gap: 30px;
  height: 50px;

  label {
    font-size: 1.1rem;
    font-weight: bold;
  }

  select {
    font-size: 1.5rem;
    height: 100%;
  }

  button {
    @include x.button();
    height: 21px;
  }
}

#errorCat {
  color: v.$color;
  text-align: center;
}
